:root {
    --color-primary-orange: hsl(25, 97%, 53%);
    --color-neutral-white: hsl(0, 0%, 100%);
    --color-neutral-light-grey: hsl(217, 12%, 63%);
    --color-neutral-medium-grey: hsl(216, 12%, 54%);
    --color-neutral-lightly-dark-blue: hsl(213, 19%, 23%);
    --color-neutral-dark-blue: hsl(213, 19%, 18%);
    --color-neutral-darker-blue: hsl(212, 20%, 13%);
    --color-neutral-very-dark-blue: hsl(216, 12%, 8%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    /* font-size: 62.5%; */
}

body {
    font-family: "Overpass", sans-serif;
    font-weight: 200;
    line-height: 1.6;
    background-color: var(--color-neutral-very-dark-blue);
    height: 100vh;
}

.review,
.thankyou {
    position: relative;
    transition: transform 1s;
    transform-style: preserve-3d;
    width: 25%;
    height: 48%;
    margin: 25vh auto;
    padding: 2rem;
    background-image: linear-gradient(
        to bottom,
        var(--color-neutral-dark-blue),
        var(--color-neutral-darker-blue)
    );
    border-radius: 7%;
    display: flex;
    flex-direction: column;
}

.star {
    display: grid;
    place-items: center;
    color: var(--color-primary-orange);
    background-color: var(--color-neutral-lightly-dark-blue);
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-radius: 60%;
    font-size: 130%;
    margin-bottom: 2rem;
}
.review__title {
    color: var(--color-neutral-white);
    font-weight: inherit;
}
.review__text {
    color: var(--color-neutral-light-grey);
    font-weight: inherit;
    margin-bottom: 2rem;
}

.review__buttons {
    display: flex;
    justify-content: space-between;
}
.review__button {
    background-color: var(--color-neutral-lightly-dark-blue);
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    border-style: none;
    border-radius: 100%;
    font-size: 130%;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--color-neutral-light-grey);
    cursor: pointer;
}
.review__button:hover {
    background-color: var(--color-primary-orange);
    color: var(--color-neutral-white);
}
.review__button.selected {
    background-color: var(--color-neutral-light-grey);
    color: var(--color-neutral-white);
}

.review__button-submit {
    width: 100%;
    padding: 1rem;
    padding-block: 0.75rem;
    text-transform: uppercase;
    background-color: var(--color-primary-orange);
    color: var(--color-neutral-white);
    border-style: none;
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    font-size: inherit;
    margin-bottom: 2rem;
    position: relative;
}
.review__button-submit:hover {
    background-color: var(--color-neutral-white);
    color: var(--color-primary-orange);
}

.hidden {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
